.white-color {
	color: #fff;
}

.text-uppercase {
	text-transform: uppercase;
}

.hero-block {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.hero-block__hero-info {
	margin-left: 30px;
	width: 500px;
}

.hero-block__hero-name,
.hero-block__ability-description h3,
.hero-block__ability-description p,
.hero-block__hero-stats-info h4 {
	margin: 0;
}

.hero-block__hero-classes img {
	height: 35px;
}

.hero-block__hero-toggle-buttons {
	display: flex;
}

.hero-block__hero-toggle-buttons button {
	border: none;
	background: url(../../assets/images/brush-stroke-banner.png) no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	font-size: 20px;
	padding: 8px 30px;
	margin: 15px 0;
	opacity: 0.3;
}

.hero-block__hero-toggle-buttons button:hover {
	opacity: 0.6;
}

.hero-block__hero-toggle-buttons .active-button,
.hero-block__hero-toggle-buttons .active-button:hover {
	opacity: 1;
}

.hero-block__hero-toggle-buttons button:focus {
	outline: none;
}

.hero-block__hero-toggle-buttons button:nth-child(1) {
	margin-right: 50px;
}

.hero-block__hero-ability-info {
	display: flex;
}

.hero-block__hero-ability-info img {
	height: 50px;
	margin-right: 10px;
	margin-top: 5px;
}

.hero-block__ability-description p,
.hero-block__stats-description p {
	font-size: 14px;
	font-weight: 600;
	color: #7d8097;
}

.hero-block__stats-description {
	text-transform: capitalize;
}

@media(max-width: 767px) {
	.hero-block {
		flex-direction: column;
		align-items: center;
	}.hero-block__hero-info {
		margin-left: 0;
		width: auto;
		max-width: 500px;
	}.hero-block__hero-name,
	.hero-block__hero-group,
	.hero-block__hero-classes,
	.hero-block__hero-toggle-buttons {
		display: flex;
		justify-content: center;
		text-align: center;
}}