.white-color {
	color: #fff;
}

.heroes-images {
	display: inline-block;
	padding: 15px;
}

.heroes-images img {
	height: 150px;
	width: 150px;
}

.heroes-name {
	font-weight: 700;
}
