.white-color {
	color: #fff;
}

.text-uppercase {
	text-transform: uppercase;
}

.heroes-list {
	display: flex;
	flex-wrap: wrap;
	padding: 25px 15px;
	max-width: 1600px;
	margin: 0 auto;
}

.heroes-list__block {
	margin: 5px;
}

.heroes-list__block-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid #fff;
	cursor: pointer;
	height: 135px;
	width: 100px;
	transition: all .3s ease-in-out;
	overflow: hidden;
	background-color: #0e2f44;
}

.heroes-list__block-inner:active {
	box-shadow: 0 0 15px #fff;
}

.heroes-list__heroes-images img {
	display: block;
	border: 1px solid #fff;
	height: 50px;
	width: 50px;
}

.heroes-list__heroes-name {
	font-size: 12px;
	line-height: 1;
}

.heroes-list__heroes-class {
	display: flex;
}

.heroes-list__heroes-class img {
	height: 20px;
}

.drop-area {
	border: 2px solid #fff;
	min-height: 190px;
	max-width: 795px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 10px;

	width: 90%;
	position: absolute;
	/*bottom: 25px;*/
	left: 50%;
	transform: translateX(-50%);
}


#root {
	position: relative;
}